# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Flask-specific
.flaskenv
.env

# Database files
*.db
db/

# IDE files
.vscode/
.idea/

# Flask Session files
flask_session*

# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb